
    .top>ul{
        width: 100%;
    }
    .img{
        width: 100%;
    }
    .banner_01{
        width: 100%;
    }
    .service_01{
        width: 100%;
    }
    .news{
        width: 100%;
    }
    .msg_one{
        width: 100%;
    }
    .footer_content{
        width: 100%;
    }
    .amz-hero-intro{
        margin-right: 40px;
    }